# 🔒 Never commit sensitive data
secrets.yaml
service_account.json
.storage/
home-assistant_v2.db
*.log
/ssl/*
/media/*
/config/persistent.log
*.pem
*.key
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Addons and system data
.cloud/
.storage/
tts/
www/*.mp3
media/*
backups/

