---
homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  currency: !secret currency
  time_zone: !secret time_zone
  external_url: !secret external_url
  internal_url: !secret internal_url
  customize: !include/ui/customize.yaml
  packages: !include_dir_named packages

default_config:

# Core UI
frontend: !include includes/ui/frontend.yaml

# Integrations
http: !include includes/integrations/http.yaml
influxdb: !include includes/integrations/influxdb.yaml
google_assistant: !include includes/integrations/google_assistant.yaml
ffmpeg: !include includes/integrations/ffmpeg.yaml
panel_custom: !include includes/integrations/panel_custom.yaml
recorder: !include includes/integrations/recorder.yaml
logger: !include includes/integrations/logger.yaml
media_source: !include includes/integrations/media_source.yaml
stream: !include includes/integrations/stream.yaml
system_log: !include includes/integrations/system_log.yaml
tts: !include includes/integrations/tts.yaml
sonoff: !include includes/integrations/sonoff.yaml

# Platforms
mqtt: !include includes/platforms/mqtt.yaml
sensor: !include_dir_merge_list sensor
binary_sensor: !include includes/platforms/binary_sensor.yaml
camera: !include includes/platforms/camera.yaml
notify: !include includes/platforms/notify.yaml
shell_command: !include includes/platforms/shell_command.yaml

# Domain helpers
utility_meter: !include_dir_merge_named configs
group: !include includes/helpers/group.yaml

# User logic
scene: !include scenes.yaml
script: !include scripts.yaml
automation: !include automations.yaml

# Feature-specific math
compensation: !include includes/platforms/compensation.yaml

# Sensor
sensor: !include_dir_merge_list sensor/

# Shell Command
shell_command:
  create_video: python3 /config/scripts/create_video.py

# Text-to-Speech
tts:
  - platform: google_translate
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    service_name: google_say

# Utility Meter
utility_meter: !include_dir_merge_named configs/

# Group
group: !include groups.yaml

# Automation
automation: !include automations.yaml
